<h3>Edit School Class</h3>
<br>
<%= form_for(@school_class) do |f| %>
    <label>Class:</label><br>
    <%= f.text_field :title %><br>
  
    <label>Room Number:</label><br>
    <%= f.text_field :room_number %><br>
  
    <%= f.submit %>
  <% end %>